{% extends "base_generic.html" %}
{% block content %}

<div class="profile-container">
    <div class="profile-photo-frame">
        <img src="{{ client_photo.url }}" alt="Profile Photo" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover;">
    </div>
    <div class="profile-info">
        <h1>Profile</h1>
        <p>Username: {{ client_data.username }}</p>
        <p>First Name: {{ client_data.first_name }}</p>
        <p>Last Name: {{ client_data.last_name }}</p>

        <h2>Favourite Discounts</h2>
        <ul>
            {% for discount in client_discounts %}
                <li>{{ discount.title }}</li>
            {% empty %}
                <li>No favourite discounts added</li>
            {% endfor %}
        </ul>
    </div>
</div>


<p style="color: red;">{{ photo_form_errors }}</p>


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="photo">
    <button type="submit">Add Photo</button>
</form>

{% endblock %}