{% extends "base_generic.html" %}


{% block content %}
<style>
  body {
    background-color: #ffe6e6; /* Soft pink color */
    font-family: 'Open Sans', sans-serif; /* Beautiful font */
  }
  h1 {
    font-size: 36px;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  p {
    font-size: 18px;
    color: #2f2f2f;
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
    color: #337ab7;
  }
  a:hover {
    color: #23527c;
  }
</style>
    <h1>{{ discount.title }}</h1>

    {% if discount %}
    <div>
      {% if discount.image %}
          <img src="{{ discount.image.url }}" alt="{{ discount.title }}">
      {% endif %}
      <p>Description: {{ discount.description }}</p>
      <p>Start Date: {{ discount.start_date }}</p>
      <p>End Date: {{ discount.end_date }}</p>
    </div>

    {% else %}
      <p>Discount not found..</p>
    {% endif %}

    <div>
    {% if discount in favorite_discounts %}
        <p style="font-style: italic;">You have this discount in your favorites!</p>
        <p>You can <a href="{% url 'remove_from_favorites' discount.id %}">remove</a> it!</p>
    {% else %}
        <p style="font-style: italic;">You can add this discount to your favorites!</p>
        <p>You can <a href="{% url 'add_to_favorites' %}?id={{ discount.id }}">add it</a>!</p>
    {% endif %}
    </div>

{% endblock %}

